*.class
*.log
*.swp

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/target/
project/project/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Idea specific
.idea/

# Ensime specific
.ensime
.ensime_cache/

# Metals specific
.metals/
project/metals.sbt
.bloop/
.bsp/

